<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.PasteProbeActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.EnviousWispr.Overlay" />
        <receiver
            android:name=".debug.DebugInsertReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.envi.wispr.debug.INSERT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".debug.DebugTelemetryReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.envi.wispr.debug.TELEMETRY_PROBE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
